version: 2.1

orbs:
  gcp-cli: circleci/gcp-cli@3.0.1
  gcp-gcr: circleci/gcp-gcr@0.15.1
  orb-tools: circleci/orb-tools@11.4

filters: &filters
  tags:
    only: /.*/

jobs:
  gcp-cli:
    executor: gcp-gcr/default
    steps:
      - checkout
      - gcp-cli/setup:
          version: 404.0.0
      - run:
          command: |
            gcloud version
            echo $CIRCLE_TAG

  gcr-build:
    executor: gcp-gcr/default
    steps:
      - checkout
      - gcp-gcr/build-image:
          image: test
          no_output_timeout: 20m
          registry-url: eu.gcr.io
          tag: $CIRCLE_TAG
      # - gcp-gcr/push-image:
      #     digest-path: /tmp/digest.txt
      #     image: orb-test
      #     registry-url: eu.gcr.io
      # - run:
      #     command: |
      #       gcloud version
workflows:
  install_and_configure_cli:
    jobs:
      - gcp-cli:
          context: orb-publisher
          filters: *filters
      - gcr-build:
          context: orb-publisher
          filters: *filters