version: 2.1

orbs:
  gcp-cli: circleci/gcp-cli@v3.0.1
  gcp-gcr: circleci/gcp-gcr@v0.15.1
  orb-tools: circleci/orb-tools@11.4

jobs:
  gcp-cli:
    executor: gcp-gcr/default
    steps:
      - checkout
      - gcp-cli/setup:
          version: 404.0.0
      # - gcp-gcr/build-image:
      #     image: orb-test
      #     no_output_timeout: 20m
      #     registry-url: eu.gcr.io
      # - gcp-gcr/push-image:
      #     digest-path: /tmp/digest.txt
      #     image: orb-test
      #     registry-url: eu.gcr.io
      # - run:
      #     command: |
      #       gcloud version
workflows:
  install_and_configure_cli:
    jobs:
      - gcp-cli